:root {
    --fundo1: rgb(255, 247, 224);
    --fundo2: rgb(255, 255, 255);
    --fundo3: rgb(253, 243, 214);

    --corFonte: rgb(0, 0, 0);

    --tema1: rgb(192, 33, 60);

    --fundoTransparente1: rgba(218, 218, 218, 0.137);

    --borda1: rgb(139, 131, 93);
    --borda2: rgb(206, 176, 6);

    --sombra1: rgba(0, 0, 0, 0.5);

    --botao1: rgb(242, 248, 152);
    --botao2: rgb(152, 248, 157);
    --botao3: rgb(248, 152, 152);

    --borderBotao1: rgb(240, 216, 0);
    --borderBotao2: rgb(0, 150, 8);
    --borderBotao3: rgb(150, 0, 0);

    --inputColor: #f5f0e1;

    --borderColor: #ffffff57;
    --hover: rgba(212, 212, 212, 0.322);
}

.tema_escuro {
    --fundo1: rgb(36, 36, 36);
    --fundo2: rgb(121, 121, 121);
    --fundo3: rgb(56, 56, 56);

    --corFonte:rgb(255, 255, 255);

    --tema1: rgb(192, 33, 60);

    --fundoTransparente1: rgba(218, 218, 218, 0.137);

    --borda1: rgb(39, 39, 39);
    --borda2: rgb(206, 176, 6);

    --sombra1: rgba(83, 83, 83, 0.5);

    --botao1: rgb(203, 212, 78);
    --botao2: rgb(152, 248, 157);
    --botao3: rgb(248, 152, 152);

    --borderBotao1: rgb(240, 216, 0);
    --borderBotao2: rgb(0, 150, 8);
    --borderBotao3: rgb(150, 0, 0);

    --inputColor: #9e9e9e;

    --borderColor: #ffffff57;
    --hover: rgba(212, 212, 212, 0.322);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--corFonte);
}

body {
    background-color: var(--fundo1);
}

.botao1 {
    display: flex;
    align-items: center;
    gap: 1.5em;

    padding: 0.5em;

    border-radius: 10px;
    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover {
        background-color: var(--hover);
    }

    &:active {
        transform: scale(0.98);
    }
}

header {
    height: 100dvh;
    width: 100px;
    padding: 2em 1em 2em 1em;
    position: fixed;

    display: flex;
    flex-direction: column;
    z-index: 2;

    background-color: transparent;
    backdrop-filter: blur(3px);
    border-right: 1px solid var(--borderColor);
    box-shadow: 0 0 5px var(--sombra1);

    transition: 0.5s;

    &:hover {
        width: 315px;
    }

    h1 {
        font-size: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
    }
}

.header_top {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header_bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.botaoSelecionado {
    font-weight: bolder;
    background-color: var(--hover);
}

/* Telas */
main {
    padding-left: 100px;
}

.tela_inicio {
    z-index: -1;
    top: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    background-color: var(--fundo1);
    width: 100%;

    padding: 3em;

    h1 {
        grid-column: 1 / 4;
        height: 50px;
        font-size: 3rem;
        text-align: center;
    }

    hr {
        grid-column: 1 / 4;
        width: 100%;
        height: 5px;
        margin: 1em auto 1em auto;

        border: none;
        border-radius: 40px;

        background-color: var(--tema1);
    }

    .card_inicio {
        background-color: var(--fundo3);
        box-shadow: 0 0 5px var(--sombra1);
        border: 1px solid var(--borderColor);
        height: 50vh;

        border-radius: 20px;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .img_inicio {
        width: 70%;
        border-radius: 20px;
        border: 1px solid var(--borderColor);
    }
}

#pouco_estoque {
    grid-column: 1/3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#sorvete_mais_consumido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#grafico1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#grafico2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#sorvete_menos_consumido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tela_conta {
    position: fixed;
    z-index: -1;
    top: 0;

    background-color: var(--fundo1);
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    padding: 3em;

    img {
        width: 90%;
        max-width: 350px;

        border: 5px solid var(--tema1);
        border-radius: 50%;

        box-shadow: 0px 0px 5px var(--sombra1);
    }

    div {
        background-color: var(--fundo2);
        padding: 0.5em 2em;

        border-radius: 10cap;
        border: 3px solid var(--tema1);

        width: 100%;
        max-width: 350px;
        box-shadow: 0px 0px 5px var(--sombra1);
    }

    h1{
        font-size: 1.3rem;
    }
}

.tela_addSorvete {
    position: fixed;
    z-index: -1;
    top: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;

    width: 100%;
    padding: 11em 3em 3em 3em;

    background-color: var(--fundo1);

    h1 {
        font-size: 3rem;
    }
}

#cadastro {
    position: absolute;
    width: 80%;
    top: 3em;

    background-color: var(--fundoTransparente1);
    padding: 1em 2em 1em 2em;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    height: 87px;
    transition: 0.5s;

    backdrop-filter: blur(3px);

    border: 1px solid var(--borderColor);
    border-radius: 40px;
    box-shadow: 0 0 5px var(--sombra1);

    max-width: 90%;
}

.cadastro_header {
    margin-bottom: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;

    max-height: 50px;
}

.cadastro_bottom {
    margin-bottom: 1.5em;
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: 0.5fr 1fr 1fr;

    img {
        height: 200px;
        width: 250px;

        border-radius: 30px;
    }

    input,
    select {
        padding: 0.5em;
        width: 100%;
        border-radius: 10cap;
        margin-bottom: 2.6em;

        font-size: 1.5rem;
        background-color: var(--inputColor);
        border: 2px solid var(--borda1);

        &:focus {
            outline: none;
            border-color: var(--borda2);
        }
    }

    button {
        width: 130px;
        padding: 0.5em;
        border-radius: 10cap;
        font-size: 1.5rem;
    }
}

.cadastro_botoes {
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;
}

#cadastro_cancelar {
    background-color: var(--botao3);
    border-color: var(--borderBotao3);
}

#cadastro_confirmar {
    background-color: var(--botao2);
    border-color: var(--borderBotao2);
}

#carregar_imagem {
    height: 330px;

    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;

    label {
        background-color: var(--botao1);
        border: 1px solid var(--borderBotao1);
        width: 90%;
        padding: 0.7em;
        border-radius: 10cap;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    input {
        display: none;
    }
}

.sorvete_car {
    background-color: var(--fundo3);
    box-shadow: 0 0 10px var(--sombra1);
    padding: 1em;

    display: grid;
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 20px;

    h2 {
        font-size: 1.5rem;
    }
}

.botoes_card {
    display: flex;
    justify-content: center;
}

.img_card {
    width: 300px;
    height: 250px;

    border-radius: 20px;
    border: 1px solid var(--borderColor);
}

.tela_estoque {
    position: fixed;
    z-index: -1;
    top: 0;

    display: flex;
    justify-content: center;

    min-height: 100dvh;

    background-color: var(--fundo1);

    padding: 3em;

    .tabela {
        width:100%;
        max-width: 1000px;
        background-color: var(--fundo3);
        box-shadow: 0px 0px 10px var(--sombra1);

        padding: 2em;

        border: 3px solid var(--tema1);
        border-radius: 15px;
    }
}

.tela_configuracoes {
    position: fixed;
    z-index: -1;
    top: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 3em;

    background-color: var(--fundo1);
    min-height: 100dvh;

    div {
        background-color: var(--fundo2);
        padding: 0.5em 2em;

        border-radius: 10cap;
        border: 3px solid var(--tema1);

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 3em;

        width: 100%;
        max-width: 350px;
        box-shadow: 0px 0px 5px var(--sombra1);
    }

    a {
        color: inherit;
        background-color: var(--botao3);
        padding: 0.5em 2em;

        
        border-radius: 10cap;
        border: 3px solid var(--tema1);
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        font-size: 2rem;
        text-decoration: none;
        margin-bottom: 3em;

        width: 100%;
        max-width: 350px;
        box-shadow: 0px 0px 5px var(--sombra1);
    }

    h1{
        font-size: 2rem;
    }
}

footer{
    padding-left: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--fundo1);

    hr{
        grid-column: 1 / 4;
        width: 70%;
        height: 5px;
        margin: 0em 0em 0em 0em;

        border: none;
        border-radius: 40px;

        background-color: var(--tema1);
    }

    h1 {
        padding: 2em;
        font-size: 1.2rem;
    }
}

/* carousel */
.carousel img {
    width: 40dvh;
    height: 30dvh;
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
    border: 2px solid rgba(162, 162, 162, 0.353);
}

.carousel {
    height: 80%;
    width: 90%;
    border-radius: 3cap;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
    border: 2px solid rgba(162, 162, 162, 0.353);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.597);
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
    content: '⮞';
    border: none;
    background-color: var(--tema1);
    font-family: Consolas;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position-anchor: --carousel;
    position: fixed;
    position-area: center right;
    translate: -100%;
}

.carousel::scroll-button(right) {
    content: '⮞';
    position-area: center right;
    translate: -50%;
}

.carousel::scroll-button(left) {
    content: '⮜';
    position-area: center left;
    translate: 50%;
}

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 20em;
    aspect-ratio: 1 / 1;
    padding: 1em;
    border-radius: .5em;
    display: flex;
    text-align: center;
    align-items: center;
}