main {
    margin-left: 100px;
    padding: 2em 5em;
    text-align: center;

    hr {
        grid-column: 1 / 4;
        width: 90%;
        height: 5px;
        margin: 1.5em auto 2em auto;

        border: none;
        border-radius: 40px;

        background-color: var(--tema1);
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h1, h2, h3, h4 {
        font-weight: bolder;
    }
}

#relatorios {
    padding: 3em;
    display: flex;
    gap: 3em;
    justify-content: space-around;
}

.card_ralatorio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-content: space-between;

    width: 100%;
    height: 250px;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0px 0px 25px var(--sombra1);

    background-color: var(--fundo3);

    h2 {
        padding: 0.5em;
        width: 100%;
        font-size: 1.5rem;
        grid-column: 1/3;
    }
}

.div_rela {
    div {
        display: flex;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 40px;
        height: auto;
    }

    h3 {
        color: var(--fundo1);
        padding: 0.2em;
        border-radius: 10px;
        width: 90%;
        margin: auto;
        font-size: 2.3rem;
    }
    
    #h3_lucro {
        background-color: var(--tema2);
    }

    #h3_despesa {
        background-color: var(--tema1);
    }
}

#card_relatorio2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;

    width: 100%;
    height: 250px;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0px 0px 25px var(--sombra1);

    background-color: var(--fundo3);

    h2 {
        padding-top: 0.5em;
        font-size: 1.5rem;
    }

    #info_rela2 {
        display: flex;
        align-items: center;
    }
}