main {
    margin-left: 100px;
    padding: 2em 8em;
    text-align: center;

    hr {
        grid-column: 1 / 4;
        width: 90%;
        height: 5px;
        margin: 1.5em auto 2em auto;

        border: none;
        border-radius: 40px;

        background-color: var(--tema1);
    }
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
}

#relatorios {
    padding: 3em;
    display: flex;
    gap: 3em;
    justify-content: space-around;
}

.card_ralatorio {
    width: 100%;
    height: 250px;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 10px 5px 25px var(--sombra1);

    background-color: var(--fundo3);

    h2 {
        width: 100%;
        font-size: 1.3rem;
        font-weight: bolder;
    }
    
    h3 {
        font-weight: bolder;
    }
}

.div_rela {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
        width: 50%;
        grid-row: 1 / 3;
        
    }

    img {
        width: 50px;
        height: auto;
    }
}