:root {
    --borderColor: #ffffff6b;
    --inputColor: #f5f0e1;
}

body {
    width: 100%;
    height: 100dvh;

    background-image: url(../img/img_login/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

form {
    width: 80%;
    max-width: 550px;
    height: 80%;
    padding: 1em;
    margin: auto;

    border: 1px solid var(--borderColor);
    border-radius: 4cap;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(3px);
}

h1 {
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0.5em;
}

input {
    padding: 0.5em;
    width: 95%;
    border-radius: 10cap;
    margin-bottom: 1em;
    
    font-size: 1.5rem;
    background-color: var(--inputColor);
    border: 2px solid rgb(139, 131, 93);
}

input:focus {
    outline: none;
    border-color: rgb(206, 176, 6);
}

.div_login {
    width: 100%;

    display: flex;
    justify-content: center;
    position: relative;
}

#btn_senha {
    width: 31px;
    top: 13%;
    right: 6%;
    position: absolute;
}

.div_botoes {
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
}

#botao_entrar {
    width:130px;
    padding: 0.5em;
    border-radius: 10cap;

    background-color: rgb(152, 248, 157);
    border-color: rgb(0, 150, 8);
    font-size: 1.5rem;
}

#cadastrar {
    width:130px;
    padding: 0.5em;
    border-radius: 10cap;

    background-color: rgb(242, 248, 152);
    border-color: rgb(240, 216, 0);
    font-size: 1.5rem;
}